.content
{
  max-width: 100%;
  background: #45393b;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  font-size: 30px;
  font-family: "Century Gothic";
  color: white;

}       
.block
{
  max-width: 100%;
  widtih: 100%;
  display: flex;
  align-items: left;
  position: relative;
}
.block1
{
  text-align: justify;
  padding:20px;
}
.block2
{
  text-align: center;
  padding: 2%;
  max-width: 30%;
}